extends baseEmail

block content 
  p Hi #{firstName},
  p Forgot your password? Click the button below to reset it.
  p (Website to perform this action has not been yet implemented, sry..)
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset your password
  p If you didn't request this email, simply ignore it!!